@font-face{
    font-family: 'regular';
    src:
            url("../font/Bitter-Regular.woff") format("woff"),
            url("../font/Bitter-Regular.woff2") format("woff2"),
            url("../font/Bitter-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'regular';
    src:
            url("../font/Bitter-Bold.woff") format("woff"),
            url("../font/Bitter-Bold.woff2") format("woff2"),
            url("../font/Bitter-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'italic';
    src:
            url("../font/Bitter-Italic.woff") format("woff"),
            url("../font/Bitter-Italic.woff2") format("woff2"),
            url("../font/Bitter-Italic.eot?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
}

.f-italic {
    font-family: 'italic';
}

[none] {
    display: none;
}

[none]:first-child {
    display: block;
}

.sizin-section {
    padding: 50px 0;
}

section {
    position: relative;
}

.display-ib {
    display: inline-block;
}

.display-b {
    display: block;
}

.no-style-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.no-marg {
    margin: 0;
}

.no-marg-left {
    margin-left: 0;
}

.no-marg-right {
    margin-right: 0;
}

.no-marg-top {
    margin-top: 0;
}

.no-marg-bottom {
    margin-bottom: 0;
}

.no-pad {
    padding: 0;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad-top {
    padding-top: 0;
}

.no-pad-bottom {
    padding-bottom: 0;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.justify-start {
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.justify-center {
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.justify-right {
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.align-start {
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.align-center {
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.align-end {
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

img.full-width {
    width: 100%;
}

.relative-position {
    position: relative;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 5px rgba(77, 173, 208, 0.1);
    }

    50% {
        box-shadow: 0 0 60px rgba(34, 37, 86, 0.8);
    }

    100% {
        box-shadow: 0 0 5px rgba(77, 173, 208, 0.1);
    }
}

html {
    background: #4996d1;
    background: -moz-linear-gradient(-45deg, #4996d1 36%, #104a77 100%);
    background: -webkit-linear-gradient(-45deg, #4996d1 36%,#104a77 100%);
    background: linear-gradient(135deg, #4996d1 36%,#104a77 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4996d1', endColorstr='#104a77',GradientType=1 );
}

body {
    background: none;
    color: #fff;
    font-family: 'regular';
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    font-weight: 300;
}

/* OWL */
.owl-carousel{
    display: block!important;
}
.owl > li{display: none;}
.owl > li:first-child{display: block;}

/* override bootstrap defaults */
.container {
    padding: 0;
}

.row {
    margin: 0;
}
/* */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

h3 a {
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
h3 a:hover, h3 a:focus {
    color: inherit;
    text-decoration: none;
}

.credit.activate h3 a {
    opacity: 1;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    text-indent: 2px;
}

a {
    color: #fff;
    /*color: #46a9d1;*/
}

#owl-page-sync1 .container {
    text-align: center;
    margin-top: 100px;
}

#owl-page-sync2 .owl-stage {
    margin: 0 auto;
}

.profile {
    position: relative;
    margin-top: 30px;
}

.profile .name {
    font-size: 70px;
    font-weight: 300;
    position: absolute;
    top: 20px;
    width: 100%;
}

.profile .name span {
    margin: 0 -50px;
    opacity: 0;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
}

.profile .align {
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.profile img {
    margin-right: 3px;
    border-radius: 150px;
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-animation: pulse 2.2s infinite ease-in-out;
    opacity: 0.9;
}

.credit.activate .name span {
    opacity: 1;
}

.credit.activate .name span:first-child {
    padding-left: 10px;
    margin: 0 110px 0 -20px;
}

.credit.activate .name span:last-child {
    margin-left: 100px;
}

.message {
    text-align: center;
}

.links {
    list-style: none;
    padding: 0;
    left: 0;
    right: 0;
}

.links li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.links .text {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    outline: none;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}.links .text:hover, .links .text:focus, .links .text.active {
     color: #3ccbff;
     text-decoration: none;

}

.more {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    padding-bottom: 250px;
    padding-left: 0;
    padding-right: 0;
}

.about-me h2 {
    font-size: 25px;
    margin-top: 30px;
    opacity: 0;
    outline: none;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.about-me h2 {
    display: inline-block;
    font-weight: normal;
}

textarea.form-control {
    width: 100%;
    max-width: 100%;
    height: 150px;
    max-height: 200px;
}

.credit.activate .about-me h2 {
    opacity: 1;
}

#myModal .btn-primary {
    background: #438dc5;
    border-color: #438dc5;
}

#myModal .btn {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

#myModal .modal-footer {
    border: none;
    display: inline-block;
    width: 100%;
}

#myModal .form-sucess {
    background: rgba( 255, 255, 255, .7 );
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 60px;
    display: none;
}

#myModal .form-sucess .loader,
#myModal .form-sucess .sucess,
#myModal .form-sucess .error {
    display: none;
}

#myModal .form-sucess .sucess,
#myModal .form-sucess .error {
    position: absolute;
    width: 100%;
    top: 80px;
}

#myModal .form-sucess i {
    font-size: 70px;
    color: #4996d1;
}

#owl-page-sync1 .profile img {
    width: auto;
}

#myModal {
    color: black;
}

#myModal form label {
    font-weight: normal;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#copyright {
    font-size: 10px;
}

#menu-projects {
    margin-top: 100px;
}

.loader {
    color: #4996d1;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 15vh;
    opacity: 0.8;
}

.loader span {
    display: inline-block;
    animation: pulse_loader 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

.effect-carrousel .item {
    height: 15rem;
    background: #162c3e;
    padding: 20px 30px;
}

#owl-page-sync1 .ajust {
    padding: 0 15px;
    margin-top: 30px;
}

.effect-carrousel .item h4 {
    color: #FFF;
    font-weight: 500;
    margin-top: 0rem;
}

.effect-carrousel.owl-theme .owl-dots .owl-dot span {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.effect-carrousel.owl-theme .owl-dots .owl-dot.active span,
.effect-carrousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #162c3e;
}

.effect-carrousel.owl-theme .owl-nav [class*="owl-"] {
    color: black;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.effect-carrousel.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #162c3e;
    color: white;
}

#owl-page-sync1 [item="animation"] .container {
    margin-top: 120px;
}

#owl-page-sync1 [item="animation"] .container h3 {
    margin-bottom: 50px;
    margin-top: 0;
}

.btn-animate {
    background: #58acec;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-animate:hover,
.btn-animate:focus {
    color: white;
    background: #81c9ff;
}

.return-sucess {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    padding: 0 30px;
    z-index: 2;
}

.return-sucess h4 {
    margin: 0;
    line-height: 15rem;
    vertical-align: middle;
    display: none;
    background: rgba( 255, 255, 255, .4 );
}

@keyframes pulse_loader {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@media (max-width: 1024px) {
    footer {
        position: relative;
        margin-top: 60px;
    }

    #owl-page-sync1 .ajust {
        margin-top: 0;
    }

    #menu-projects,
    #owl-page-sync1 .container,
    #owl-page-sync1 [item="animation"] .container {
        margin-top: 15px;
    }

    #owl-page-sync1 [item="animation"] .container h3 {
        margin-bottom: 15px;
    }
}

@media (max-width: 767px ) {
    html {
        height: auto;
    }

    .profile .name {
        font-size: 40px;
        top: 40px;
    }

    #copyright {
        margin-bottom: 60px;
    }
}

@media (max-width: 650px) {
    .profile .name {
        position: static;
        margin-top: 20px;
    }

    .profile .name span {
        padding: 0 !important;
        margin: 8px !important;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 30px;
        line-height: 20px;
    }

    html {
        height: auto;
    }

    .container {
        margin-top: 20px;
    }

    .about {
        font-size: 30px;
        line-height: 50px;
    }

    .about span {
        visibility: hidden;
    }

    .links {
        position: static;
    }

    .more {
        padding-bottom: 100px;
    }
}